# Byte-compiled / optimized / DLL files
__pycache__/

# Virtual environment
venv/
env/
.venv/
ENV/

# Environment variable files
.env
.env.*
# VSCode settings
.vscode/

my_proposal.json

company_profile.json